* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    position: fixed;
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    background-color: white;
    align-items: center;
    height: 4vw;
    width: 100%;
}


.nav-right {
    align-items: center;
    margin: 0 0 0 0vw;
}

.logo img {

    height: 3.5vw;
    width: 9vw;
    margin: 0 1.5vw;
}

ul {

    margin: 0 0 0 5vw;
    font-size: 1.1rem;
    font-weight: bolder;
    color: black;
    align-items: center;
}

/* 

form {

    height: 1.5vw;
    margin: 1.1vw 0;
}
*/
.form-input {
    line-height: normal;
    font-size: 0.9rem;
    border-radius: 7px;
    padding: 3px 10px;
}

.dropbtn {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.dropdown {
    margin: 0 1.5vw;
    padding-right: 10px;
    align-self: center;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 7.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 1rem;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

li a:hover {
    text-decoration: none;
    padding: 1px 10px 1px 10px;
    border-radius: 1vw;
    border: 1px solid gray;

}